#deploy-in-4-minutes {
    border: none;
}

.bash {
    color: #1c8fe3;    
}

.bash .nv {
    color: #be174a;
}

.bash .o {
    color: #9b9b15;
}

.bash .nb {
     color: #1c8fe3;   
}

.github-fork {
    overflow: hidden;
    width: 53px;
    height: 20px;
    border: 0;
}

.logo {
    clear: left;
    float: left;
    margin-right: 1em;        
}
